/**
 * Created by jcx on 16/5/31.
 */


.fontsize20 {
    font-szie: 20px;
}

.fontsize40 {
    font-size: 40px;
}

#page-wrapper {
    background: #2E1F3E;
}

#inputfilebtn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.nav > li > span {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

.pokerfilename {
    max-width:120px;

    display:inline-block;/*内联对象需加*/
    /*width:100px;*/
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
}